*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.wrapper{
}
.wrapper h1{
    color: white;
    text-align: center;
}
.containt_img{
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}
.img_spiderman{
    width: 30rem;
    height: 30rem;
}   